@font-face {
  font-family: Proxima-thin;
  src: url(layout/fonts/Proxima-Nova-Thin.otf);
}

@font-face {
  font-family: Proxima-regular;
  src: url(layout/fonts/Proxima-Nova-Alt-Regular.otf);
}

@font-face {
  font-family: Proxima-bold;
  src: url(layout/fonts/Proxima-Nova-Alt-Bold.otf);
}

.row {
  max-width: none;
}

.row .row {
  margin-right: 0;
  margin-left: 0;
}

.columns {
  padding-left: 0;
  padding-right: 0;
}

/* Text */

h1, h2, h3, h4, h5, h6 {
  font-family: "Proxima-thin", sans-serif;
}

p, .button, a {
  font-family: 'Proxima-regular', sans-serif;
}

.button {
  background-color: #1895D5;
}

/* Nav */

/* Logo row */


/* Page */

.linkedin-img {
  position: absolute !important;
  opacity: 0;
}

.page {
  position: relative;
  padding-top: 100vh;
  overflow: hidden;
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.visible-page {
  opacity: 1;
}

/* Info row */

.image-row img {
  width: 100%;
}

.more-events-h1 {
  margin-bottom: 2em;
}

/* Contact row */

.contact-row {
  text-align: center;
  min-height: 50vh;
  padding: 4vw 8em;
  background: rgba(255, 255, 255, 0.92);
}

.contact-row h2.email {
  position: relative;
  -webkit-transform: translate(-50px,0);
  transform: translate(-50px,0);
  opacity: 0;
  
}

.contact-animate-h2 {
  -webkit-transform: translate(0,0) !important;
  transform: translate(0,0) !important;
  opacity: 1 !important;
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s; 
}

.contact-row h1 {
  position: relative;
  -webkit-transform: translate(-35px,0);
  transform: translate(-35px,0);
  opacity: 0;
}

.contact-animate-h1 {
  -webkit-transform: translate(0,0) !important;
  transform: translate(0,0) !important;
  opacity: 1 !important;
  -webkit-transition: -webkit-transform 0.7s, opacity 0.7s;
  transition: transform 0.7s, opacity 0.7s; 
}

.contact-row .content a {
  border-bottom: 2px solid transparent;
}

.contact-row .content a:hover {
  border-bottom: 2px solid rgba(44, 78, 95, 0.92);
}


/* Footer */

footer .content {
  text-align: center;
}

footer .content h4 {
  margin: 0;
}

footer .content a {
  border-bottom: 1px solid transparent;
}

footer .content a:hover {
  border-bottom: 1px solid rgba(44, 78, 95, 0.92);
}


@media screen and (max-width: 700px) {
  .top-bar {
    height: 4em;
  }

  .top-bar-section ul {

  }

  .top-bar-section ul li > a {
    padding: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: center;
  }

  .top-bar-section ul li:first-child > a {
    margin-left: 0;
  }

  .top-bar-section ul li h3 {
    font-size: 1rem;
  }

  .logo-row {
    background-size: 450%;
    background-repeat: no-repeat;
    background-position-x: -700px;
  }

  .logo-row .content {
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .logo-row .content img {
    max-width: 60vw;
    margin-left: 14vw;
  }

  .logo-row .content h1 {
    font-size: 11vw;
  }

  .info-row {
    padding-top: 8vh;
  }

  .info-row .content {
    width: 90%;
    margin-left: 4vw;
    margin-right: 4vw;
  }

  .info-row .content.left-side {
    padding-right: 0;
  }

  .info-row .content.right-side {
    padding-left: 0;
  }

  .info-row .content .gbgtechweek {
    margin-top: 8vh;
    margin-bottom: 4em;
  }

  .image-row img {
    max-width: 150%;
    position: relative;
  }

  .contact-row .content {
    padding-top: 12vh;
  }

  .contact-row .content h2 {
    font-size: 6vw;
  }

  .contact-row .content h1 {
    font-size: 8vw;
  }

}
