body {
	margin: 0;
	overflow-x: hidden;
}

h1 {
	font-size: 3rem;
}

h1.big {
	font-size: 4rem;
	font-weight: bolder;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 2rem;
}

nav h4 {
	margin: 0.7em 0;
}

h4 {
	font-size: 1.3rem;
}

h1, h2, h3 {
	margin-bottom: 0.5em;
}

p {
	line-height: 24px;
}

a {
	display: inline-block;
	text-decoration: none;
}


a.button {
	background-color: white;
	color: rgb(29, 61, 77);
	padding: 1.2em;
	border-radius: 16px;
	margin: 1em;
	border: 2px solid;
	border-color: transparent;
	-webkit-transition: color .2s, background-color .2s, border-color 0.2s;
	-moz-transition: color .2s, background-color .2s, border-color 0.2s;
	-ms-transition: color .2s, background-color .2s, border-color 0.2s;
	-o-transition: color .2s, background-color .2s, border-color 0.2s;
	transition: color .2s, background-color .2s, border-color 0.2s;
	cursor: pointer;
}

a.button:hover {
	color: white;
	background-color: transparent;
	border-color: white;
}

a.button.reversed {
	background-color: rgba(44, 78, 95, 0.92);
	color: white;
}

a.button.reversed:hover {
	color: rgb(29, 61, 77);
	background-color: transparent;
	border-color: rgba(44, 78, 95, 0.92);
}


.not-active,
a.not-active {
	pointer-events: none;
	cursor: not-allowed !important; 
}


/* Menu */

.menu {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	width: 100%;
	z-index: 5;
	opacity: 0;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-ms-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition: opacity .5s;
	-webkit-transition-delay: .2s;
	-moz-transition-delay: .2s;
	-o-transition-delay: .2s;
	transition-delay: .2s;
}

.menu-animate {
	opacity: 1;
}

.menu ul {
	margin: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	list-style: none;
	padding: 0;
}

.menu ul li a {
	display: inline-block;
	padding: 0.5em 2em;
	text-decoration: none;
	color: white;
	border-bottom: 4px solid;
	border-color: transparent;
	-webkit-transition: border-color 0.2s;
	-moz-transition: border-color 0.2s;
	-ms-transition: border-color 0.2s;
	-o-transition: border-color 0.2s;
	transition: border-color 0.2s;
}

.menu ul li a:hover {
	border-color: white;
}


/* Logo row */

.logo-row {
	position: fixed;
	height: 83vh;
	width: 100%;
	background-size: 100%;
	background-position-x: 50%;
	background-image: url('img/banner_website_2017.jpg');
	background-repeat: no-repeat;
	text-align: center;
	padding-top: 17vh;
	opacity: 0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.logo-row-animate {
	opacity: 1;
}

.logo-row > * {
	-webkit-transform: translateY(-100px);
	-ms-transform: translateY(-100px);
	transform: translateY(-100px);
	opacity: 0;
	-webkit-transition: -webkit-transform .7s, opacity .9s;
	-moz-transition: -webkit-transform .7s, opacity .9s;
	-ms-transition: -ms-transform .7s, opacity .9s;
	-o-transition: -webkit-transform .7s, opacity .9s;
	transition: transform .7s, opacity .9s;
	-webkit-transition-delay: .2s;
	-moz-transition-delay: .2s;
	-o-transition-delay: .2s;
	transition-delay: .2s;
}

.logo-row-content-animate {
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}

.logo-row .logo {
	width: 20%;
	max-width: 400px;
}

.logo-row .top-partners-container {
	position: fixed;
	bottom: 0;
	max-width: 300px;
	right: 2px;
	color: white;
}

.top-partners-container p {
	margin: 0;
	text-align: left;
}

.top-partners-container .partner-logo {
	max-width: 99%;
}

.logo-row h1, .logo-row h2 {
	color: white;
	margin-top: 1em;
	text-shadow: 0 0px 15px black;
}

.logo-row .photo-cred {
	color: white;
	margin-bottom: 0;
  position: fixed;
  left: 2px;
  bottom: 0;
  margin-bottom: 0;
  font-size: 0.9rem;
}


.logo-caption {
	position: absolute;
	bottom: 0vh;
	right: 1em;
	font-size: 0.7rem;
	color: rgb(24, 149, 213);
}



/* Info row */
.skyline-img {
	width: 100%;
	margin-bottom: -4.5px;
	opacity: 1;
}

.main-info {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
}

.main-info div,
.sub-info div {
	-webkit-box-flex: 1;
	-moz-box-flex:  1;
	-webkit-flex:  1;
	-ms-flex:  1;
	flex: 1;
	padding: 0 2em;
}

.main-info p {
	font-size: 1.3rem;
}

.main-info h3 {
	margin-bottom: 1em;
}

.info-row {
	text-align: center;
	background: rgb(255,255,255);
	color: rgb(29, 61, 77);
	padding: 1em 25em 4em 25em;
	z-index: 2;
	position: relative;
}

.signup-container {
	z-index: -2;
  position: fixed;
  bottom: 40px;
  text-align: center;
  width: 100%;
}

.signup-container h3,
.signup-container h2,
.signup-container h1 {
	color: white;
	margin-top: 1em;
	text-shadow: 0 0px 15px black;
}

.signup-container h1 {
	font-size: 4rem;
}

.signup-container .thanks {
	color: white;
	margin-top: 1em;
	text-shadow: 0 0px 15px black;
	display: none;
}

form#update-signup input {
	padding: 0.5em;
	font-size: 1.5rem;
  border: 2px solid #2196D3;
}

form#update-signup input[type="email"] {
  background: rgba(255,255,255,0.8);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  color: rgba(24, 149, 213, 1);
}

form#update-signup input[type="submit"] {
  margin-left: -6px;
  background: #2196D3;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  cursor: pointer;
}

.social-links-container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
}

.social-links-container a {
	margin: 1em;
  width: 4em;
  cursor: pointer;
  padding-bottom: 10px;
  border-bottom: 4px solid;
  border-color: transparent;
}

.social-links-container a.fb:hover {
	border-color: #475993;
}

.social-links-container a.insta:hover {
	border-color: #DB8C3F;
}

.social-links-container a.twitter:hover {
	border-color: #76A9EA;
}

.social-links-container a.linkedin:hover {
	border-color: #0077B7;
}

.social-links-container a img {
	width: 100%;
}

#this-year {
	background: rgba(44, 78, 95, 0.92);
	position: relative;
	color: white;
	padding: 1em;
}

#this-year .content {
	padding: 7em 10em 2em 10em;
	text-align: center;
}

#this-year p {
	margin: 1em 10em;
}

.section-title {
	position: absolute;
	top: 0.5em;
	left: 0.5em;
	margin: 0;
	font-size: 4rem;
}

.create-launch-scale-image {
	width: 80%;
}

/* Photos */

.photos-event-container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	flex-wrap: wrap;
	-webkit-justify-content: space-between; 
	justify-content: space-between;
	margin: 1em 0;
}

.photos-photo-container,
.photos-event-info {
	flex: 1;
}

.photos-photo-container {
	padding: 0.5em;
}

.photos-event-info {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center; 
	justify-content: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.photos-event-text {
	padding: 0 1em;	
}

.photos-event-text .cred a {
	color: white;
	font-weight: bold;
	border-bottom: 1px solid transparent;
}

.photos-event-text .cred a:hover {
	border-bottom: 1px solid white;
}


.photos-event-text h4 {
  margin-top: 0.5em;
	text-align: center;
}

#this-year .photos-event-text p {
	margin: 0;
  text-align: center;
}

.photos-event-logo {
	text-align: center;
}

.photos-event-logo img {
	max-width: 60%;
}

.photos-photo {
	max-width: 100%;
}



/* Schedule */

#schedule {
	background: rgba(44, 78, 95, 0.92);
	padding: 3em 0;
}

.schedule-header h1,
.schedule-header h2 {
	text-align: center;
	color: white;
}


.schedule-content {
	border-top: 2px solid white;
	border-bottom: 2px solid white;
}

.schedule-block {
  display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
}

.schedule-block:nth-child(even) {
	background: rgba(255,255,255,0.92);
}

.schedule-day-container {
		min-width: 8%;
	}

.schedule-day-container h3 {
	text-align: center;
	font-size: 3rem;
	margin: 0 0.5em;
	color: white;
}

.schedule-block:nth-child(even) .schedule-day-container h3  {
	color: rgb(29, 61, 77);
}

.schedule-block-content {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-items: baseline;
	align-items: baseline;
  width: 100%;
  -webkit-justify-content: space-around; 
	justify-content: space-around;
	border-left: 2px solid white;
  padding: 1.5em 0;
  color: white;
}

.schedule-block:nth-child(even) .schedule-block-content {
	border-left-color: rgba(44, 78, 95, 0.92);
	color: rgb(29, 61, 77);
}

.schedule-event-container {
	text-align: center;
	max-width: 350px;
	margin: 0 0.5em;
}

.schedule-event-image {
	width: 90%;
}

.schedule-event-title {
	margin: 0.5em 0;
}

.schedule-event-info {
	margin: 0;
}

#key-persons {
	background: rgba(255,255,255,0.92);;
  padding: 6em 2em;
}

#key-persons h2 {
	text-align: center;
	color: rgb(29, 61, 77);
}

.key-persons-container {
	padding-top: 2em;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.key-person {
  text-align: center;
  color: rgb(29, 61, 77);
  margin: 0.5em;
  max-width: 250px;
}

.key-person h4 {
	margin: 0.5em;
	margin-bottom: 0;
}

.key-person p {
	margin: 0.5em;
	margin-top: 0;
}

.key-person img {
	width: 250px;
}


.events-menu {

}

.events-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.events-menu li {
	-webkit-box-flex: 1;
	-moz-box-flex:  1;
	-webkit-flex:  1;
	-ms-flex:  1;
	flex: 1;
	text-align: center;
	cursor: pointer;
	background: rgba(255,255,255,0.92);
	color: rgb(29, 61, 77);;
	-webkit-transition: background .2s, color .2s;
	-moz-transition: background .2s, color .2s;
	-ms-transition: background .2s, color .2s;
	-o-transition: background .2s, color .2s;
	transition: background .2s, color .2s;
}

.events-menu li:hover {
	background: rgba(44, 78, 95, 0.92);
	color: white;
}

.events-menu li.active-day {
	background: rgba(44, 78, 95, 0.92);
	color: white;
}

.events-menu p {
	cursor: pointer;
	font-size: 2rem;
}

.event-list {
	
}

.event-list ul {
	margin: 0;
	padding: 0;
	list-style: 0;
}

.event-list li:nth-child(even) .event-container {
	-webkit-flex-direction: row-reverse;
	-moz-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	background: rgba(44, 78, 95, 0.92);
	color: white;
}

.event-list li:nth-child(odd) .event-container {
	background: rgba(255, 255, 255, 0.92);
	color: rgb(29, 61, 77);
}

.event-list li:nth-child(even) .button {
	background-color: white;
	color: rgb(29, 61, 77);
}

.event-list li:nth-child(even) .button:hover {
	color: white;
	background-color: transparent;
	border-color: white;
}

.event-list li {
	display: block;
}

.event-container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.event-body {
	-webkit-box-flex: 1;
	-moz-box-flex:  1;
	-webkit-flex:  1;
	-ms-flex:  1;
	flex: 1;
}

.event-header {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.event-header img {
	width: 30%;
	padding: 1em;
	display: inline-block;
	min-width: 150px;
	max-width: 300px;
}

.event-header h2 {
	text-align: center;
	padding-right: 1em;
	max-width: 50%;
}
.event-info {
	padding: 0 2em;
	text-align: center;

}

.event-info p {
	display: block;
	margin-bottom: 0;
	margin-top: 1em;
}
.event-info .event-time {
	display: inline-block;
}

.event-info .event-venue {
	display: inline-block;
}

.event-info .event-venue a {
	color: inherit;
  border-bottom: 1px solid;
}

.event-info .event-venue a:hover {
	font-weight: bold;
}

.event-info .info {
	text-align: left;
	line-height: 28px;
	width: 80%;
	margin: 1em auto;
}

.event-info .info a {
	margin-bottom: 2em;
}

.event-image {
	-webkit-box-flex: 1;
	-moz-box-flex:  1;
	-webkit-flex:  1;
	-ms-flex:  1;
	flex: 1;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;	
	justify-content: center;
}

.event-image img {
	max-width: 100%;
	align-self: center;
}

.hide {
	display: none !important;
}

.previous-year-row {
	width: 100%;
	color: white;
	position: relative;
}

.previous-year-row .header {
	font-size: 5rem;
	z-index: 2;
	text-align: center;
	top: 46%;
	-webkit-transform: translateY(-44%);
	-ms-transform: translateY(-44%);
	transform: translateY(-44%);
	width: 100%;
	position: absolute;
}

.previous-year-grid {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
}

.previous-year-grid div {
	position: relative;
	float: left;
	width: 50%;
	text-align: center;
}

.previous-year-grid .shadow {
	position: absolute;
	width: 100%;
	display: block;
	height: 100%;
	top: 0;
}

.previous-year-grid #connect2015 .shadow {
	background: rgba(0,0,0,0.5);
}
.previous-year-grid #suh2015 .shadow {
	background: rgba(0,0,0,0.6);
}
.previous-year-grid #venturecup2015 .shadow {
	background: rgba(0,0,0,0.6);
}
.previous-year-grid #tedx2015 .shadow {
	background: rgba(0,0,0,0.6);
}

.previous-year-grid div img {
	z-index: -1;
	vertical-align: top;
	position: relative;
	width: 100%;
}

.previous-year-grid div span {
	background: rgba(0,0,0,0.6);
	height: 100%;
	width: 100%;
	position: absolute;
}

.previous-year-grid div .text {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
	position: absolute;
}

.previous-year-grid div .text h1,
.previous-year-grid div .text h3 {
	margin: 0;
}

#contact {
	color: rgb(29, 61, 77);
}

#contact a,
footer a {
	color: rgb(29, 61, 77);
}

.partners h2 {
	width: 80%;
	margin: 0.5em auto;
	text-align: left;
	color: rgb(29, 61, 77);
}

.partner {
	display: inline-block;
  max-width: 45%;
}

.partner img {
	width: 79.5%;
}

.partner p {
	margin: 1em 1em;

}

.organizer-section h2 {
	color: rgb(29, 61, 77);
	opacity: 1;
	transform: none;
	padding-top: 1em;
	margin-top: 0;
}

.organizer-section p {
	margin: 1em 12em;
}

.organizer-section img {
	width: 50%;
}

.organizer-images {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.organizer-images img {
	border-radius: 100%;
	width: 250px
}

footer {
	height: 4em;
	margin-top: -4em;
	background-color: transparent;
}

#contact .content {
	margin-bottom: 5em;
}

.footer-img-link {
	margin-bottom: 1em;

}

footer .content .footer-img-link:hover {
	text-decoration: none;
	border-color: transparent;
}

footer img {
	width: 40%;
}

@media screen and (max-width: 700px) {
	.event-header h2 {
		max-width: 100%;
	}

	.logo-row .top-partners-container {
		max-width: initial;
		width: 100%;
		bottom: 25px;
	}

	.top-partners-container p {
		margin: 0 1em;
	}

	.top-partners-container .partner-logo {
		max-width: 40%;
		margin: 0 0.5em;
	}

	.partner {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}

}


@media screen and (max-device-width: 1200px) {

	h1.big {
		font-size: 2.5rem;
	}

	h1 {
		font-size: 2rem;
	}

	h2 {
		margin-bottom: 0;
		margin-top: 0.2em;
	}

	a.button {
		padding: 0.5em;
		border-radius: 7px;
	}

	.menu ul li a {
		padding: 1em 0.9em;
		border-bottom: 2px solid;
		border-color: transparent;
	}

	.menu ul li a:hover {
		border-color: white;
	}

	.menu h4 {
		margin: 0;
		text-align: center;
		font-size: 0.8rem;
	}

	.logo-row {
		background-size: 350%;
		background-position-x: 47%;
	}

	.logo-row .logo {
		width: 50%;
	}

	.signup-container {
		bottom: 130px;
	}

	.signup-container h1 {
		font-size: 2.5rem;
	}

	.signup-container h2 {
		font-size: 1.8rem;
	}

	.signup-container h3 {
		font-size: 1.5rem;
	}

	.info-row {
		padding: 1em 1em 2em 1em;
	}

	form#update-signup input {
		font-size: 1rem;
	}

	.main-info,
	.sub-info {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.main-info div {
		padding: 0;
	}

	#this-year .content {
		padding: 7em 0 2em 0;
	}

	#this-year p {
		margin: 1em 1em;
	}

	.photos-event-container {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.schedule-day-container {
		min-width: 24%;
	}

	.schedule-day-container h3 {
		font-size: 2rem;
	}

	#key-persons, .non-mobile {
		display: none;
	}

	.events h2 {
		text-align: center;
	}

	.previous-year-row {
		display: none;
	}
	
	.techweek2015-row {
		display: none;
	}

	.events-menu {
		display: none;
	}

	.event-header {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.event-header h2 {
		padding-right: 0;
		padding: 0 0.5em;
	}

	.event-header img {
		width: 60%;
	}

	.event-image {
		display: none;
	}

	.contact-row {
		padding: 1em;
		padding-top: 3em;
	}

	.nlg-info-container .powered {
		font-size: 1rem;
	}

	.nlg-info-container p {
		margin: 1em;
	}

	.organizer-section h2 {
		margin-bottom: 1em;
	}

	.organizer-section p {
		margin: 1em;
	}

	.organizer-images img {
		width: 120px;
	}
	.organizer-images h4 {
		margin-top: 5px;
	}

}