body {
	margin: 0;
	overflow-x: hidden;
}

h1 {
	font-size: 3rem;
}

h1.big {
	font-size: 4rem;
	font-weight: bolder;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 2rem;
}

nav h4 {
	margin: 0.7em 0;
}

h4 {
	font-size: 1.3rem;
}

h1, h2, h3 {
	margin-bottom: 0.5em;
}

p {
	line-height: 24px;
	display: inline-block;
}

a {
	display: inline-block;
	text-decoration: none;
}

a.button {
	background-color: white;
	color: #1895D5;
	padding: 1.2em;
	border-radius: 16px;
	margin: 1em;
	border: 2px solid;
	border-color: transparent;
	-webkit-transition: color .2s, background-color .2s, border-color 0.2s;
	-moz-transition: color .2s, background-color .2s, border-color 0.2s;
	-ms-transition: color .2s, background-color .2s, border-color 0.2s;
	-o-transition: color .2s, background-color .2s, border-color 0.2s;
	transition: color .2s, background-color .2s, border-color 0.2s;
}

a.button:hover {
	color: white;
	background-color: transparent;
	border-color: white;
}

a.button.reversed {
	background-color: #1895D5;
	color: white;
}

a.button.reversed:hover {
	color: #1895D5;
	background-color: transparent;
	border-color: #1895D5;
}

.not-active {
	pointer-events: none;
	cursor: default;
}

/* Menu */

.menu {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	width: 100%;
	z-index: 5;
	opacity: 0;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-ms-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition: opacity .5s;
	-webkit-transition-delay: .2s;
	-moz-transition-delay: .2s;
	-o-transition-delay: .2s;
	transition-delay: .2s;
}

.menu-animate {
	opacity: 1;
}

.menu ul {
	margin: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	list-style: none;
	padding: 0;
}

.menu ul li a {
	display: inline-block;
	padding: 0.5em 2em;
	text-decoration: none;
	color: white;
	border-bottom: 4px solid;
	border-color: transparent;
	-webkit-transition: border-color 0.2s;
	-moz-transition: border-color 0.2s;
	-ms-transition: border-color 0.2s;
	-o-transition: border-color 0.2s;
	transition: border-color 0.2s;
}

.menu ul li a:hover {
	border-color: white;
}


/* Logo row */

.logo-row {
	position: fixed;
	height: 78vh;
	width: 100%;
	background-size: 100%;
	background-position-x: 50%;
	background-image: url('img/gbgtechweek_banner.jpg');
	background-repeat: no-repeat;
	text-align: center;
	padding-top: 22vh;
	opacity: 0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.logo-row-animate {
	opacity: 1;
}

.logo-row > * {
	-webkit-transform: translateY(-100px);
	-ms-transform: translateY(-100px);
	transform: translateY(-100px);
	opacity: 0;
	-webkit-transition: -webkit-transform .7s, opacity .9s;
	-moz-transition: -webkit-transform .7s, opacity .9s;
	-ms-transition: -ms-transform .7s, opacity .9s;
	-o-transition: -webkit-transform .7s, opacity .9s;
	transition: transform .7s, opacity .9s;
	-webkit-transition-delay: .2s;
	-moz-transition-delay: .2s;
	-o-transition-delay: .2s;
	transition-delay: .2s;
}

.logo-row-content-animate {
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}

.logo-row img {
	width: 20%;
}

.logo-row h1 {
	color: white;
	margin-top: 1em;
}


.logo-caption {
	position: absolute;
	bottom: 0vh;
	right: 1em;
	font-size: 0.7rem;
	color: rgb(24, 149, 213);
}

/* Info row */
.main-info,
.sub-info {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: baseline;
	align-items: baseline;
}

.main-info div,
.sub-info div {
	-webkit-box-flex: 1;
	-moz-box-flex:  1;
	-webkit-flex:  1;
	-ms-flex:  1;
	flex: 1;
	padding: 0 2em;
}

.info-row {
	text-align: center;
	background: rgba(24, 149, 213, 0.8);
	color: white;
	padding: 1em 3em 4em 3em;
	z-index: 2;
	position: relative;
}

.social-links-container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
}

.social-links-container a {
	margin: 1em;
	
	height: 4em;
  width: 4em;
  background-repeat: no-repeat;
}

.social-links-container a.fb {
	background: url('img/fb.png');
}

.social-links-container a.fb:hover {
	background: url('img/fb_blue.png');
}

.social-links-container a.insta {
	background: url('img/insta.png');
}
.social-links-container a.insta:hover {
	background: url('img/insta_blue.png');
}

.social-links-container a.twitter {
	background: url('img/twitter.png');
}
.social-links-container a.twitter:hover {
	background: url('img/twitter_blue.png');
}

.key-persons {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.organizer-section h2 {
	color: #1895D5;
	opacity: 1;
	transform: none;
	padding-top: 1em;
	margin-top: 0;
}

.organizer-group {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 2em 1em;
}

.person,
.organizer {
	position: relative;
	text-align: center;
	display: inherit;
	background: black;
}

.organizer {
	    border: 5px solid white;
    box-shadow: 0px 0px 12px -4px;
}

.organizer,
.organizer img {
	border-radius: 100%;
}

.organizer a {
	color: white !important;
}

.person p,
.organizer p {
	position: absolute;
	top: 30%;
	left: 0;
	margin: 0 auto;
	width: 100%;
	opacity: 0;
	cursor: pointer;
	color: white;
	-webkit-transition: opacity .2s;
	-moz-transition: opacity .2s;
	-ms-transition: opacity .2s;
	-o-transition: opacity .2s;
	transition: opacity .2s;
}

.person:hover p,
.organizer:hover p {
	opacity: 1;
}

.person img,
.organizer img {
	opacity: 1;
	width: 250px;
	height: 250px;
	-webkit-transition: opacity .2s;
	-moz-transition: opacity .2s;
	-ms-transition: opacity .2s;
	-o-transition: opacity .2s;
	transition: opacity .2s;
}

.person:hover img,
.organizer:hover img {
	opacity: 0.5;
}

.person .name,
.organizer .name {
	font-weight: bold;
	font-size: 1.1rem;
}

.events-menu {

}

.events-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.events-menu li {
	-webkit-box-flex: 1;
	-moz-box-flex:  1;
	-webkit-flex:  1;
	-ms-flex:  1;
	flex: 1;
	text-align: center;
	cursor: pointer;
	background: rgba(100, 100, 100, 0.8);
	color: white;
	-webkit-transition: background .2s, color .2s;
	-moz-transition: background .2s, color .2s;
	-ms-transition: background .2s, color .2s;
	-o-transition: background .2s, color .2s;
	transition: background .2s, color .2s;
}

.events-menu li:hover {
	background: rgba(255, 255, 255, 0.92);
}

.events-menu p {
	cursor: pointer;
	font-size: 2rem;
}

.events-menu li:hover p {
	color: rgba(24, 149, 213, 0.8);
}


.active-day {
	background: rgba(255, 255, 255, 0.92) !important;
	color: rgba(24, 149, 213, 0.8) !important;
}


.event-list {
	
}

.event-list ul {
	margin: 0;
	padding: 0;
	list-style: 0;
}

.event-list li:nth-child(even) .event-container {
	-webkit-flex-direction: row-reverse;
	-moz-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	background: rgba(24, 149, 213, 0.8);
	color: white;
}

.event-list li:nth-child(odd) .event-container {
	background: rgba(255, 255, 255, 0.92);
}

.event-list li:nth-child(even) .button {
	background-color: white;
	color: #1895D5;
}

.event-list li:nth-child(even) .button:hover {
	color: white;
	background-color: transparent;
	border-color: white;
}

.event-list li {
	display: block;
}

.event-container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.event-body {
	-webkit-box-flex: 1;
	-moz-box-flex:  1;
	-webkit-flex:  1;
	-ms-flex:  1;
	flex: 1;
}

.event-header {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.event-header img {
	width: 30%;
	padding: 1em;
	display: inline-block;
}

.event-header h2 {
	text-align: center;
	padding-right: 1em;
}
.event-info {
	padding: 0 2em;
	text-align: center;

}

.event-info p {
	display: block;
	margin-bottom: 0;
	margin-top: 1em;
}
.event-info .event-time {
	display: inline-block;
}

.event-info .event-venue {
	display: inline-block;
}

.event-info .info {
	text-align: left;
	line-height: 28px;
	width: 80%;
	margin: 1em auto;
}

.event-info .info a {
	margin-bottom: 2em;
}

.event-image {
	-webkit-box-flex: 1;
	-moz-box-flex:  1;
	-webkit-flex:  1;
	-ms-flex:  1;
	flex: 1;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	display: flex;
	-webkit-justify-content: center;	
	justify-content: center;
}

.event-image img {
	max-width: 100%;
	align-self: center;
}

.hide {
	display: none !important;
}

.techweek2015-row {
	position: relative;
	color: white;
}

.techweek2015-row .header {
	font-size: 5rem;
	z-index: 2;
	text-align: center;
	top: 44%;
	-webkit-transform: translateY(-44%);
	-ms-transform: translateY(-44%);
	transform: translateY(-44%);
	width: 100%;
	position: absolute;
}

.techweek2015-grid {
	width: 100vw;
	position: relative;
	overflow: hidden;
}

.techweek2015-grid div {
	position: relative;
	float: left;
	width: 50%;
	text-align: center;
}

.techweek2015-grid .shadow {
	position: absolute;
	width: 100%;
	display: block;
	height: 100%;
	top: 0;
}

.techweek2015-grid #connect2015 .shadow {
	background: rgba(0,0,0,0.5);
}
.techweek2015-grid #suh2015 .shadow {
	background: rgba(0,0,0,0.6);
}
.techweek2015-grid #venturecup2015 .shadow {
	background: rgba(0,0,0,0.6);
}
.techweek2015-grid #tedx2015 .shadow {
	background: rgba(0,0,0,0.6);
}

.techweek2015-grid div img {
	z-index: -1;
	vertical-align: top;
	position: relative;
	width: 100%;
}

.techweek2015-grid div span {
	background: rgba(0,0,0,0.6);
	height: 100%;
	width: 100%;
	position: absolute;
}

.techweek2015-grid div .text {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
	position: absolute;
}

.techweek2015-grid div .text h1,
.techweek2015-grid div .text h3 {
	margin: 0;
}




#contact a,
footer a {
	color: #008cba;
}

footer {
	height: 8em;
	margin-top: -8em;
	background-color: transparent;
}

#contact .content {
	margin-bottom: 5em;
}

.footer-img-link {
	margin-bottom: 1em;

}

footer .content .footer-img-link:hover {
	text-decoration: none;
	border-color: transparent;
}

footer img {
	width: 40%;
}

@media screen and (max-width: 1200px) {
	.events-menu {
		display: none;
	}
}

@media screen and (max-width: 700px) {

	h1.big {
		font-size: 2.5rem;
	}

	h1 {
		font-size: 2rem;
	}

	h2 {
		margin-bottom: 0;
		margin-top: 0.2em;
	}

	.menu ul li a {
		padding: 1em 0.9em;
		border-bottom: 2px solid;
		border-color: transparent;
	}

	.menu ul li a:hover {
		border-color: white;
	}

	.menu h4 {
		margin: 0;
		text-align: center;
		font-size: 1rem;
	}

	.logo-row {
		background-size: 350%;
		background-position-x: 47%;
	}

	.logo-row img {
		width: 70%;
	}

	.info-row {
		padding: 1em 1em 2em 1em;
	}

	.main-info,
	.sub-info {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.key-persons {
		display: none;
	}

	.events h2 {
		text-align: center;
	}
	
	.techweek2015-row {
		display: none;
	}

	.event-header {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.event-header h2 {
		padding-right: 0;
		padding: 0 0.5em;
	}

	.event-header img {
		width: 60%;
	}

	.event-image {
		display: none;
	}

}