@font-face {
  font-family: Proxima-thin;
  src: url(layout/fonts/Proxima-Nova-Thin.otf);
}

@font-face {
  font-family: Proxima-regular;
  src: url(layout/fonts/Proxima-Nova-Alt-Regular.otf);
}

@font-face {
  font-family: Proxima-bold;
  src: url(layout/fonts/Proxima-Nova-Alt-Bold.otf);
}

.row {
  max-width: none;
}

.row .row {
  margin-right: 0;
  margin-left: 0;
}

.columns {
  padding-left: 0;
  padding-right: 0;
}

/* Text */

h1, h2, h3, h4, h5, h6 {
  font-family: "Proxima-thin", sans-serif;
}

p, .button {
  font-family: 'Proxima-regular', sans-serif;
}

.button {
  background-color: #1895D5;
}

/* Nav */

/* Logo row */


/* Page */

.linkedin-img {
  position: absolute !important;
  opacity: 0;
}

.page {
  position: relative;
  padding-top: 100vh;
  overflow: hidden;
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.visible-page {
  opacity: 1;
}

/* Info row */



.image-row img {
  width: 100%;
}

.goteborg-caption {
  position: absolute;
  top: 3px;
  right: 1em;
  font-size: 0.7rem;
}

.inline-list > li > img {
  display: inline-block;
}

.inline-list {
  overflow: visible;
}

.events-summary-row {
  min-height: 50vh;
  margin-top: 0;
  padding-top: 4em;
  background: white;
  color: white;
  z-index: 2;
  padding-bottom: 2em;
  text-align: center;
}
.cal-button {
    border-radius: 10px;
  }

.events-summary-row h1 {
  text-align: center;
  color: black;
}

.events-summary-row .events-summary-catagories-container {
  text-align: center;
}

.events-summary-row .events-summary-catagory svg {
  margin-bottom: -5px;
}

.events-summary-row .events-summary-catagory {
  color: black;
  display: inline-block;
  margin-right: 1em;
}

.more-events-h1 {
  margin-bottom: 2em;
}


.event-timeline-container {
  width: 95%;
  height: 410px;
  background: transparent;
  margin: 0 auto;
  margin-bottom: 22em;
  margin-top: -3em;
  border-bottom: 2px solid black;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.event-timeline-object {
  display: inline-block;
  position: absolute;
}

.event-timeline-object svg {
  display: inline-block;
}

.event-timeline-object:first-child {
  bottom: -14px;
  left: -10px;
}

.event-timeline-object:last-child {
  bottom: 8px;
  right: 7px;
      left: initial !important;
}

.event-timeline-object:last-child svg {
  position: absolute;
}

.event-timeline-object:last-child svg:first-child {
  bottom: -9px;
}

.event-timeline-object:last-child svg:last-child {
  bottom: -18px;
}

.event-timeline-object.above-timeline {
  bottom: -47px;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.event-timeline-object.below-timeline {
  left: -90px;
  bottom: -76px;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.event-timeline-object.above-timeline svg.circle {
  margin-top: -7px;
}

.event-timeline-object.below-timeline svg.circle {
  margin-bottom: -7px;
}

.event-timeline-object > svg {
  margin: 0 auto;
}

.event-timeline-object img {
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  max-height: 70px; 
}

.event-timeline-object.above-timeline img {
  margin-bottom: 10px;
  margin-top: 10px;
}

.event-timeline-object.below-timeline img {
  margin-top: 10px;
}

.event-timeline-object.above-timeline,
.event-timeline-object.below-timeline {
  display: inline-block;
  max-width: 200px; 
  text-align: center;
  margin: 0 0.5em;
  position: relative;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.event-timeline-object.above-timeline a svg {
  margin-top: -7px;
}

.event-timeline-object.above-timeline p {
  margin-bottom: 0;
  margin-top: 4px;
  line-height: 1;
  color: black;
  margin-left: 0.7em;
}

.event-timeline-object.below-timeline p {
  margin-bottom: 7px;
  color: black;
  line-height: 1;
}

.event-timeline-object:nth-child(3),
.event-timeline-object:nth-child(5),
.event-timeline-object:nth-child(7),
.event-timeline-object:nth-child(9){
  left: -1px;
  bottom: -347px;
}

.event-timeline-object:nth-child(4),
.event-timeline-object:nth-child(6),
.event-timeline-object:nth-child(8),
.event-timeline-object:nth-child(10) {
  left: -3px;
}

.event-timeline-object a.event-timeline-object-animate {
  -webkit-transform: translate(0,0) !important;
  transform: translate(0,0) !important;
}

.event-timeline-object a {
  display: block;
  -webkit-transition: opacity .15s ease-in-out, -webkit-transform .5s ease-in-out;
  -moz-transition: opacity .15s ease-in-out, transform .5s ease-in-out;
  -ms-transition: opacity .15s ease-in-out, transform .5s ease-in-out;
  -o-transition: opacity .15s ease-in-out, transform .5s ease-in-out;
  transition: opacity .15s ease-in-out, transform .5s ease-in-out; 
}

.event-timeline-object:nth-child(5) a:nth-child(5),
.event-timeline-object:nth-child(7) a:nth-child(5) {
  -webkit-transform: translate(0,-200px);
  transform: translate(0,-200px);
}

.event-timeline-object:nth-child(9) a:nth-child(6) {
  -webkit-transform: translate(0,-300px);
  transform: translate(0,-300px);
}

.event-timeline-object:nth-child(6) a:nth-child(1) {
  -webkit-transform: translate(0,300px);
  transform: translate(0,300px);
}

.event-timeline-object:nth-child(6) a:nth-child(2),
.event-timeline-object:nth-child(8) a:nth-child(1) {
  -webkit-transform: translate(0,200px);
  transform: translate(0,200px);
}

.event-timeline-object:nth-child(2) a:nth-child(1),
.event-timeline-object:nth-child(4) a:nth-child(1),
.event-timeline-object:nth-child(6) a:nth-child(3),
.event-timeline-object:nth-child(8) a:nth-child(2) {
  -webkit-transform: translate(0,100px);
  transform: translate(0,100px);
}


.event-timeline-object:nth-child(9) a:nth-child(4),
.event-timeline-object:nth-child(3) a:nth-child(4),
.event-timeline-object:nth-child(5) a:nth-child(4),
.event-timeline-object:nth-child(7) a:nth-child(4) {
  -webkit-transform: translate(0,-100px);
  transform: translate(0,-100px);
}

.event-timeline-object-inactive {
  transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -webkit-transition: opacity .15s ease-in-out;
  opacity: 0.4;
}

.small-event-timeline-container {
  display: none;  
  margin-top: 2em;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  text-align: center;
}

.small-event-timeline-holder {
  position: absolute;
  height: 100%;
  width: 50%;
  border-right: 2px solid black;
}

.small-event-timeline-container .event-timeline-object:nth-child(2) {
  position: relative;
  bottom: initial;
  left: initial;
  margin-top: -15px;
  margin-left: 1px;
}

.small-event-timeline-container .event-timeline-object:last-child {
  bottom: initial;
  left: 2px !important;
  position: relative;
  margin-bottom: 10px;
}

.small-event-timeline-container .event-timeline-object:last-child svg:first-child {
  margin-left: -10px;
  bottom: initial;
}

.small-event-timeline-container .event-timeline-object:last-child svg:last-child {
  margin-left: -2px;
  bottom: initial;
}

.small-event-timeline-container .event-timeline-object {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 1em;
  max-width: initial;
}

.small-event-timeline-container .event-timeline-object.above-timeline {
  bottom: initial;
  width: 50%;
}

.small-event-timeline-container .event-timeline-object.below-timeline {
  bottom: initial;
  margin-left: 50%;
}

.small-event-timeline-container .event-timeline-object.above-timeline .event-timeline-svg-container {
  margin-right: -2px;
  padding-left: 3px;
}

.small-event-timeline-container .event-timeline-object img {
  max-height: 50px;
}

.event-timeline-svg-container {
  display: inherit;
}

.event-timeline-object.below-timeline .event-timeline-svg-container svg.circle {
  margin-top: -7px;
  margin-bottom: 0;
}
.event-timeline-object.below-timeline .event-timeline-svg-container svg:last-child {
  margin-left: -2px;
}

/* changed */
.small-event-timeline-container .event-timeline-object:nth-child(6) p,
.small-event-timeline-container .event-timeline-object:nth-child(8) p,
.small-event-timeline-container .event-timeline-object:nth-child(9) p{
  margin-top: 28px;

}
/* changed */
.small-event-timeline-container .event-timeline-object:nth-child(6) .event-timeline-svg-container,
.small-event-timeline-container .event-timeline-object:nth-child(8) .event-timeline-svg-container,
.small-event-timeline-container .event-timeline-object:nth-child(9) .event-timeline-svg-container{
  margin-top: 40px;
}

/* changed */
.small-event-timeline-container .event-timeline-object:nth-child(3) p,
.small-event-timeline-container .event-timeline-object:nth-child(4) p,
.small-event-timeline-container .event-timeline-object:nth-child(5) p,
.small-event-timeline-container .event-timeline-object:nth-child(7) p,
.small-event-timeline-container .event-timeline-object:nth-child(10) p {
  margin-top: 73px;

}

/* changed */
.small-event-timeline-container .event-timeline-object:nth-child(3) .event-timeline-svg-container,
.small-event-timeline-container .event-timeline-object:nth-child(4) .event-timeline-svg-container,
.small-event-timeline-container .event-timeline-object:nth-child(5) .event-timeline-svg-container,
.small-event-timeline-container .event-timeline-object:nth-child(7) .event-timeline-svg-container,
.small-event-timeline-container .event-timeline-object:nth-child(10) .event-timeline-svg-container {
  margin-top: 85px;
}

.small-event-timeline-container .event-timeline-object p {
  position: absolute;
  width: 5em;
}

.small-event-timeline-container .event-timeline-object.below-timeline p {
  left: -86px;
}

.small-event-timeline-container a {
  -webkit-transform: none !important;
  transform: none !important;
}


.suglink {
  color: white;
  text-decoration: underline;
}

/* Contact row */

.contact-row {
  text-align: center;
  min-height: 50vh;
  padding-left: 4vw;
  padding-right: 4vw;
  background: white;
  padding-bottom: 4em;
}

.contact-row .content {
  padding-top: 15vh;
}

.contact-row h2 {
  position: relative;
  -webkit-transform: translate(-50px,0);
  transform: translate(-50px,0);
  opacity: 0;
  
}

.contact-animate-h2 {
  -webkit-transform: translate(0,0) !important;
  transform: translate(0,0) !important;
  opacity: 1 !important;
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s; 
}

.contact-row h1 {
  position: relative;
  -webkit-transform: translate(-35px,0);
  transform: translate(-35px,0);
  opacity: 0;
}

.contact-animate-h1 {
  -webkit-transform: translate(0,0) !important;
  transform: translate(0,0) !important;
  opacity: 1 !important;
  -webkit-transition: -webkit-transform 0.7s, opacity 0.7s;
  transition: transform 0.7s, opacity 0.7s; 
}

.contact-row .content a {
  border-bottom: 1px solid transparent;
}

.contact-row .content a:hover {
  border-bottom: 1px solid #008cba;
}

.partners-row {
  background: white;
}

.partners-row h1 {
  text-align: center;
}

/* Footer */

footer {
  background: white;
  height: 3em;
}

footer .content {
  text-align: center;
}

footer .content h4 {
  margin: 0;
}

footer .content a {
  border-bottom: 1px solid transparent;
}

footer .content a:hover {
  border-bottom: 1px solid #008cba;
}

footer .content a:first-child {
  margin-right: 2em;
}

footer .content a:last-child {
  margin-left: 2em;
}


@media screen and (max-width: 700px) {
  .top-bar {
    height: 4em;
  }

  .top-bar-section ul {

  }

  .top-bar-section ul li > a {
    padding: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: center;
  }

  .top-bar-section ul li:first-child > a {
    margin-left: 0;
  }

  .top-bar-section ul li h3 {
    font-size: 1rem;
  }

  .logo-row {
    background-size: 450%;
    background-repeat: no-repeat;
    background-position-x: -700px;
  }

  .logo-row .content {
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .logo-row .content img {
    max-width: 60vw;
    margin-left: 14vw;
  }

  .logo-row .content h1 {
    font-size: 11vw;
  }

  .info-row {
    padding-top: 8vh;
  }

  .info-row .content {
    width: 90%;
    margin-left: 4vw;
    margin-right: 4vw;
  }

  .info-row .content.left-side {
    padding-right: 0;
  }

  .info-row .content.right-side {
    padding-left: 0;
  }

  .info-row .content .gbgtechweek {
    margin-top: 8vh;
    margin-bottom: 4em;
  }

  .image-row img {
    max-width: 150%;
    position: relative;
  }

  .events-summary-row {
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .cal-button {
    margin-top: 1em;
    font-size: 0.8rem;
  }



  .events-summary-catagory {
    margin-bottom: 0.3em;
  }

  .event-timeline-container {
    display: none;
  }

  .small-event-timeline-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
  }

  .events-summary ul li p {
    font-size: 1rem;
  }

  .events-row .row .content .event-info-container .event-logo-container {
    margin-top: 5vh;
  }


  .contact-row .content {
    padding-top: 12vh;
  }

  .contact-row .content h2 {
    font-size: 6vw;
  }

  .contact-row .content h1 {
    font-size: 8vw;
  }

}
