.page {
	padding-top: 0;
}

.year-title {
	font-size: 4rem;
}

.photos-event-logo img{
  max-width: 150px;
  border-radius: 100%;
  margin-left: 1em;
}

.photos-event-text {
	text-align: center;
}

.photos-event-text h5 {
	margin-top: 0;
}

.photos-event-text h4 {
	margin-bottom: 0.5em;
}