

.page {
	padding-top: 110px;
	min-height: calc(100vh - 500px);
	max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding-bottom: 4em;
}

.breadcrumb-link-back{
	font-size: 1.7em;
	text-transform: uppercase;
	cursor: pointer;
	color: white;
	border-bottom: 2px solid transparent;
}

.breadcrumb-link-back:hover {
	border-bottom: 2px solid white;
}

.breadcrumb-link-back:before {
	content: "←";
    display: inline-block;
    width: 10px;
    height: 16px;
    margin-right: 1em;
}

.breadcrumb-this-page {
	font-size: 1.3em;
	font-family: 'Proxima-regular', sans-serif;
}

.breadcrumb-this-page:before {
	content: "/";
    display: inline-block;
    margin: 0 1.3em;
}

.event-header {
	justify-content: space-between;
}

.event-header img {
	max-width: 50%;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.header-info {
	max-width: 50%;
}

.event-header h2 {
	max-width: initial;
    padding-right: initial;
    font-size: 2em;
    text-align: left;
    margin-bottom: 0.2em;
}

.event-location {
	font-size: 1.5em;
    margin-top: 0;
}

.event-location a {
	color: white;
}

.event-location a span {
	text-decoration: underline;
}

.join-button {
	font-family: 'Proxima-regular', sans-serif;
	font-size: 1.3em;
	margin-top: 2em;
	padding: 0.6em 1.5em;
	background-color: rgba(255,255,255,0.8);
    color: rgb(29, 61, 77);
    -webkit-transition: background-color .2s;
	-moz-transition: background-color .2s;
	-ms-transition: background-color .2s;
	-o-transition: background-color .2s;
	transition: background-color .2s;
	cursor: pointer;
	display: inline-block;
}

.join-button:hover {
	background-color: rgba(255,255,255,1);
}

.join-button.disabled {
	cursor: default;
}

.join-button.disabled:hover {
	background-color: rgba(255,255,255,0.8);
}
.event-organizers {
	height: 150px;
	margin-top: 2em;
}

.event-organizers img {
	height: 100%;
	margin-right: 1em;
	border-radius: 100%;
	box-shadow: 0 3px 15px rgba(0,0,0,0.19), 0 2px 3px rgba(0,0,0,0.23);
}

.event-description {
	max-width: 70%;
	margin: 2em 0;
}

.event-description p {
	font-size: 1.1em;
	line-height: 1.4em;
}

.event-description p a {
	color: white;
	text-decoration: underline;
}

.event-description ul {
		 margin-top: -1em;
    font-family: 'Proxima-regular', sans-serif;
    font-size: 1.1em;
    line-height: 1.4em;
    text-align: left;
	}

.event-description ul li a {
	color: white;
	text-decoration: underline;
}

.speaker-container {
	display: inline-block;
}

.speaker {
	font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  width: 20%;
  position: relative;
  background-size: cover;
  background-position: 50%;
  background-blend-mode: lighten;
  -webkit-filter: contrast(1.2);
  filter: contrast(1.2);
  min-width: 15em;
	min-height: 15em;
	height: 100%;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.speaker-content {
	background-color: rgba(0,0,0,.4);
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 1em .5em;
  box-sizing: border-box;
  color: white;
}

.speaker-name {
	font-weight: 600;
  margin: 0;
  font-size: 1.2em;
}

.speaker-organisation {
	font-size: .9em;
  margin: 0;
}

#randomname {
	background-image: url('https://placehold.it/500x500');
}
#andreas-albertsson {
	background-image: url('../img/2018/personer/andreas-albertsson.jpg');
}
#anna-bjurstrom {
	background-image: url('../img/2018/personer/anna-bjurstrom.jpg');
}
#carl-heath {
	background-image: url('../img/2018/personer/carl-heath.jpg');
}
#hege-tollerud {
	background-image: url('../img/2018/personer/hege-tollerud.jpg');
}
#jannie-jeppesen {
	background-image: url('../img/2018/personer/jannie-jeppesen.jpg');
}
#jonathan-wadstrom {
	background-image: url('../img/2018/personer/jonathan-wadstrom.jpg');
}
#karin-bjerde {
	background-image: url('../img/2018/personer/karin-bjerde.jpg');
}
#sophia-johansson {
	background-image: url('../img/2018/personer/sophia-johansson.jpg');
}
#sanna-westman {
	background-image: url('../img/2018/personer/sanna-westman.jpg');
}
#monica-hedberg {
	background-image: url('../img/2018/personer/monica-hedberg.jpg');
}
#alan-milligan {
	background-image: url('../img/2018/personer/alan-milligan.png');
}
#henrik-hjelte {
	background-image: url('../img/2018/personer/henrik-hjelte.jpg');
}
#joel-torstensson {
	background-image: url('../img/2018/personer/joel-torstensson.jpg');
}
#oliver-oram {
	background-image: url('../img/2018/personer/oliver-oram.jpg');
}
#snorre-diwala {
	background-image: url('../img/2018/personer/snorre-diwala.jpg');
}
#viktor-davidsson {
	background-image: url('../img/2018/personer/viktor-davidsson.jpg');
}
#patrik-andersson {
	background-image: url('../img/2018/personer/patrik-andersson.jpg');
}
#jane-jeppesson {
	background-image: url('../img/2018/personer/jane-jeppesson.jpg');
}
#carl-fredrik-hedenstrom {
	background-image: url('../img/2018/personer/carl-fredrik-hedenstrom.jpg');
}
#mattias-jorstedt {
	background-image: url('../img/2018/personer/mattias-jorstedt.jpg');
}
#fredrik-moeschlin {
	background-image: url('../img/2018/personer/fredrik-moeschlin.jpg');
}
#johan-magnusson {
	background-image: url('../img/2018/personer/johan-magnusson.jpg');
}
#pavel-rabetski {
	background-image: url('../img/2018/personer/pavel-rabetski.jpg');
}
#stefan-farestam {
	background-image: url('../img/2018/personer/stefan-farestam.jpg');
}
#jan-jongboom {
	background-image: url('../img/2018/personer/jan-jongboom.jpg');
}
#magnus-castell {
	background-image: url('../img/2018/personer/magnus-castell.jpg');
}
#jonas-wilhelmsson {
	background-image: url('../img/2018/personer/jonas-wilhelmsson.jpg');
}
#simon-moritz {
	background-image: url('../img/2018/personer/simon-moritz.jpg');
}
#magnus-leonhardt {
	background-image: url('../img/2018/personer/magnus-leonhardt.jpg');
}
#anders-logg {
	background-image: url('../img/2018/personer/anders-logg.jpg');
}
#mikael-eriksson {
	background-image: url('../img/2018/personer/mikael-eriksson.jpg');
}
#ante-baric {
	background-image: url('../img/2018/personer/ante-baric.jpg');
}
#asa-otterlund {
	background-image: url('../img/2018/personer/asa-otterlund.jpg');
}
#david-griffith-jones {
	background-image: url('../img/2018/personer/david-griffith-jones.jpg');
}
#anastacia-simonchik {
	background-image: url('../img/2018/personer/anastacia-simonchik.jpg');
}
#pierre-reimertz {
	background-image: url('../img/2018/personer/pierre-reimertz.jpg');
}
#lisa-hammarstrom {
	background-image: url('../img/2018/personer/lisa-hammarstrom.jpg');
}
#jonas-nicklas {
	background-image: url('../img/2018/personer/jonas-nicklas.jpg');
}
#jonathan-mattebo-persson {
	background-image: url('../img/2018/personer/jonathan-mattebo-persson.jpg');
}
#jonas-karles {
	background-image: url('../img/2018/personer/jonas-karles.jpg');
}
#gustav-von-sydow {
	background-image: url('../img/2018/personer/gustav-von-sydow.jpg');
}
#john-eskilsson {
	background-image: url('../img/2018/personer/john-eskilsson.jpg');
}
#daniel-langkilde {
	background-image: url('../img/2018/personer/daniel-langkilde.jpg');
}
#malin-kjallstrom {
	background-image: url('../img/2018/personer/malin-kjallstrom.jpg');
}
#fredrik-olofsson {
	background-image: url('../img/2018/personer/fredrik-olofsson.jpg');
}
#oscar-molse {
	background-image: url('../img/2018/personer/oscar-molse.jpg');
}
#gabriel-kamienny {
	background-image: url('../img/2018/personer/gabriel-kamienny.jpg');
}


@media screen and (max-device-width: 1600px) {
	.page {
		padding: 15vh 2em;
	}

	.content {
		margin: 0 6em;
	}

}


@media screen and (max-device-width: 1200px) {

	.page {
		padding: 10vh 0;
	}
	
	.content {
		text-align: center;
		margin: 0;
		margin-top: 1em;
	}

	.breadcrumbs {
		padding: 0 1em;
	}

	.breadcrumb-link-back {
		font-size: 1.2em;
	}

	.breadcrumb-this-page:before {
		margin: 0 0.3em;
	}

	.breadcrumb-this-page {
		font-size: 0.9em;
	}

	.header-info {
		padding: 0.5em 1em;
		text-align: center;
		max-width: 100%;
		color: white;
	}

	.event-title {
		margin-top: 1em;
	}

	.event-header h2 {
		padding: 0;
    font-size: 1.3em;
    text-align: inherit;
	}

	.event-location {
		font-size: 1.2em;
	}

	.event-location a {
		color: white;
	}

	.event-header img {
		position: absolute;
    z-index: -1;
    width: 100%;
    max-width: initial;
    opacity: 0.5;

	}

	.event-organizers {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		margin-top: 1.5em;
		max-height: inherit;
		padding: 0 1em;
		text-align: center;
	}

	.event-organizers img {
		margin: 0 0.5em;
		max-height: 150px;
	}

	.event-description {
		max-width: 90%;
		margin: 0 auto;
	}

	.event-description p,
	.event-description ul {
		font-size: 1em;
		text-align: left;
	}

	.speaker {
		min-height: 13em;
    min-width: 45%;

	}
}