.page {
	padding-top: 10vh;
	min-height: calc(100vh - 500px);
	max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.sidebar {
	position: fixed;
	top: 155px;
	left: 0;
	left: calc(50% - 720px);
	left: calc(50% - 37em);
	width: 250px;
}

.content {
	margin-left: 270px;
	margin-left: 24em;
}

.events {
	padding-bottom: 10em;
}

h3 {
	display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.sidebar h1 {
	font-size: 2rem;
}

.separator {
	padding: 1.5em 0;
}

.separator-date {
	text-align: center;
    display: inline-block;
    width: 130px;
    font-size: 2em;
}

.separator-day {
	display: inline-block;
    font-weight: 600;
    font-size: 1.5em;
    margin-left: 20px;
}

.day-selector-container {
	position: relative;
	margin: 2em 0;
}

.day-selector-container:before {
	content: " ";
    display: block;
    position: absolute;
    width: 1px;
    background-color: #fff;
    height: 98%;
    top: 1%;
    left: 10px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.day-selector:first-child .day-link {
	margin-top: 0;
}

.day-selector:last-child .day-link {
	margin-bottom: 0;
}

.day-link {
	display: inline-block;
    margin: 1em 0;
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    color: white;
}

.day-link:before {
	content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-sizing: border-box;
    will-change: transform;
    border: 1px solid #fff;
    background-color: #657e8c;
    -webkit-transition: background-color .2s;
	-moz-transition: background-color .2s;
	-ms-transition: background-color .2s;
	-o-transition: background-color .2s;
	transition: background-color .2s;
}

.day-link:hover:before {
	background-color: #fbfdff;
}

.day-link.active:before {
	background-color: #fbfdff;
}

.event {
	position: relative;
    margin: .75em 0;
    max-width: 1200px;
    text-align: left;
}

.event-timeline {
	position: absolute;
    width: 130px;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
}

.event-timeline:before,
.event-timeline:after {
	content: "";
    display: block;
    position: absolute;
    left: 50%;
    height: 40%;
    width: 1px;
    background-color: white;
    z-index: 1;
}

.event-day-container:last-child .event:last-child .event-timeline:after {
	display: none;
}

.event-timeline:before {
	bottom: 80%;
    bottom: calc(50% + 40px);
}

.event-timeline:after {
	top: 80%;
    top: calc(50% + 40px);
}

.event-time {
	position: absolute;
    width: 100%;
    top: 50%;
    margin: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.event-time span {
	width: 100%;
	display: block;
	line-height: 1;
}

.event-start-time {
	font-size: 1.1em;
    font-weight: bold;
}

.event-end-time {
	font-size: 0.8em;
    font-weight: lighter;
}

.event-link {
	margin-left: 150px;
  padding: 1em 1.5em;
  padding-left: calc(1em + 8px);
  display: table;
  position: relative;
  width: calc(100% - 150px);
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.5);
  -webkit-transition: background-color .2s;
	-moz-transition: background-color .2s;
	-ms-transition: background-color .2s;
	-o-transition: background-color .2s;
	transition: background-color .2s;
	color: white;
}

.event-link.no-info {
	background-color: rgba(255,255,255,0.1);
}

.event-link:hover {
	background-color: rgba(0,0,0,0.4);
}

.event-link.no-info {
	background-color: rgba(255,255,255,0.1);
}

.no-info-overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -2;
  display: block;
  position: absolute;
  opacity: 0;
  background-color: rgba(0,0,0,0.5);
  -webkit-transition: opacity .2s;
	-moz-transition: opacity .2s;
	-ms-transition: opacity .2s;
	-o-transition: opacity .2s;
	transition: opacity .2s;
	color: white;
}

.event-link.no-info .no-info-overlay {
	cursor: default;
	z-index: 2;
}

.event-link.no-info:hover .no-info-overlay{
	opacity: 1;
}

.event-link:hover .no-info-overlay {
	opacity: 0;
}

.no-info-overlay h3 {
	text-align: center;
	position: relative;
	top:50%;
	transform: translateY(-50%);
	margin: 0;
	font-size: 2em;
}

.event-link span {
	display: table-cell;
	vertical-align: middle;
	padding-right: 2em;
}

.event-link span.category-color {
	display: block;
	position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 100%;
    padding-right: 0;
    vertical-align: none;
}

.event-link span.category-color.tech {
	background-color: green;
}

.event-thumbnail-container {
	padding-right: 0;
}

.event-thumbnail {
	width: 5em;
  height: 5em;
  border-radius: 100%;
	background-image: url('../img/logo/gtw_logo_blue_white.png');
	background-repeat: no-repeat;
  background-size: 100%;
}

/* 2019 event */

#compinn .event-thumbnail {
	background-image: url('../img/2019/events/compinn/compinn.png');
	background-position-x:-67px;
	background-size: 275%;
}

#how-to-build-a-great-company .event-thumbnail {
	background-image: url('../img/2019/events/how-to-build-a-great-company/emmy-och-elin.jpg');
	    background-position-x: 0;
    background-size: 113%;
}

#tech-trends .event-thumbnail {
	background-image: url('../img/2019/events/tech-trends/tech-trends.jpg');
	background-position-x:-67px;
	background-size: 275%;
}

#how-to-build-a-great-company .event-thumbnail {
	background-image: url('../img/2019/events/how-to-build-a-great-company/emmy-och-elin.jpg');
	    background-position-x: 0;
    background-size: 113%;
}

#deep-learning-autonomous-vehicles .event-thumbnail {
	background-image: url('../img/2019/events/deep-learning-autonomous-vehicles/deep-learning-autonomous-vehicles.jpg');
	background-position-x:-67px;
	background-size: 200%;
}

#ai-connect .event-thumbnail {
	background-image: url('../img/2019/events/ai-connect/ai-connect.jpg');
	background-position-x:-67px;
	background-size: 200%;
}

#startup-jungle-tuesday .event-thumbnail {
	background-image: url('../img/2019/events/startup-jungle/startup-jungle-workshop.jpg');
	background-position-x:-67px;
	background-size: 275%;
}

#applied-ai .event-thumbnail {
	background-image: url('../img/2019/events/lindholmen-applied-ai/applied-ai.jpg');
	background-position-x:-0px;
	background-size: 200%;
}

#taking-risk .event-thumbnail {
	background-image: url('../img/2019/events/taking-risk/taking-risk.jpg');
	background-position-x:-67px;
	background-size: 275%;
}

#wom-tech-at-volvo-group .event-thumbnail {
	background-image: url('../img/2019/events/wom-tech-at-volvo-group/wom-tech-at-volvo-group.jpg');
	    background-position-x: -2px;
    background-size: 208%;
}

#start-up-to-scale-up .event-thumbnail {
	background-image: url('../img/2019/events/start-up-to-scale-up/start-up-to-scale-up.jpg');
	    background-position-x: -2px;
    background-size: 250%;
}

#startups-are-cool .event-thumbnail {
	background-image: url('../img/2019/events/startups-are-cool/startups-are-cool.jpeg');
	background-position-x:-67px;
	background-size: 275%;
}

#iot-bootcamp .event-thumbnail {
	background-image: url('../img/2019/events/5g-iot-bootcamp/5g-iot-bootcamp.jpg');
	background-position-x:-67px;
	background-size: 275%;
}

#meet-the-ocean-robots .event-thumbnail {
	background-image: url('../img/2019/events/meet-the-ocean-robots/meet-the-ocean-robots.png');
	background-position-x:-50px;
	background-size: 200%;
}

#dare-to-think-again .event-thumbnail {
	background-image: url('../img/2019/events/dare-to-think-again/dare-to-think-again.jpg');
	background-position-x:-50px;
	background-size: 200%;
}

#sustainable-you .event-thumbnail {
	background-image: url('../img/2019/events/sustainable-you/sustainable-you.jpg');
	background-position-x:-14px;
	background-size: 150%;
}

#challenge-role-model .event-thumbnail {
	background-image: url('../img/2019/events/challenge-role-model/challenge-role-model.jpeg');
	background-position-x:-40px;
	background-size: 200%;
}

#sustainability-inclusion .event-thumbnail {
	background-image: url('../img/2019/events/sustainability-inclusion/sustainability-inclusion.jpg');
	background-position-x:-67px;
	background-size: 275%;
}

#microwave-road .event-thumbnail {
	background-image: url('../img/2019/events/microwave-road/microwave-road.jpg');
	background-position-x:-67px;
	background-size: 200%;
}

#dinner .event-thumbnail {
	background-image: url('../img/2019/events/dinner/dinner.jpg');
	background-position-x:-0px;
	background-size: 150%;
}

#boundaries-of-work .event-thumbnail {
	background-image: url('../img/2019/events/the-boundaries-of-work/the-boundaries-of-work.jpg');
	background-position-x:-67px;
	background-size: 275%;
}

#future-of-electrification .event-thumbnail {
	background-image: url('../img/2019/events/future-of-electrification/future-of-electrification.jpg');
	background-position-x:-67px;
	background-size: 275%;
}

#startup-jungle-thursday .event-thumbnail {
	background-image: url('../img/2019/events/startup-jungle/startup-jungle-workshop.jpg');
	background-position-x:-67px;
	background-size: 275%;
}

#bang .event-thumbnail {
	background-image: url('../img/2019/events/bang/bang.jpg');
	background-position-x:-67px;
	background-size: 275%;
}

#legal-advice .event-thumbnail {
	background-image: url('../img/2019/events/legal-advice/legal-advice.jpg');
	background-position-x:-67px;
	background-size: 275%;
}

#orten-io-hammarkullen .event-thumbnail {
	background-image: url('../img/2019/events/orten-io-hammarkullen/logo-orten2.jpg');
}

#watch-this-space .event-thumbnail {
	background-image: url('../img/2019/events/watch-this-space/watch-this-space.jpg');
	    background-position-x: -4px;
    background-size: 177%;
}

#building-sustainable-software .event-thumbnail {
	background-image: url('../img/2019/events/building-sustainable-software/building-sustainable-software.jpeg');
	    background-position-x: -4px;
    background-size: 200%;
}

#innovation-blockchain-sustainability .event-thumbnail {
	background-image: url('../img/2019/events/innovation-blockchain-sustainability/innovation-blockchain-sustainability.jpg');
	    background-position-x: -4px;
    background-size: 177%;
}

#driving-innovation .event-thumbnail {
	background-image: url('../img/2019/events/driving-innovation/driving-innovation.jpg');
	background-position-x:-5px;
	background-size: 150%;
}

#the-world-is-going-flat .event-thumbnail {
	background-image: url('../img/2019/events/the-world-is-going-flat/the-world-is-going-flat.jpg');
	background-position-x:-39px;
	background-size: 150%;
}

#passion-for-sustainability .event-thumbnail {
	background-image: url('../img/2019/events/passion-for-sustainability/passion-for-sustainability.jpg');
	background-position-x:-39px;
	background-size: 150%;
}

#sri-lanka .event-thumbnail {
	background-image: url('../img/2019/events/sri-lanka/sri-lanka.jpg');
	background-position-x:-39px;
	background-size: 200%;
}

#startup-hack .event-thumbnail {
	background-image: url('../img/2019/events/startup-hack/startup-hack.jpg');
	background-position-x:-39px;
	background-size: 200%;
}


.event-text h4 {
	margin-top: 0;
	margin-bottom: 0.5em;
	font-size: 1.2em;
	font-weight: bold;
}

.event-text p {
	margin: 0;
	font-size: 0.9em;
}

.event-hosted-by p {
	margin-top: 0;
    margin-bottom: 2em;
}

span.event-location {
	padding: 0;
	min-width: 170px;
	padding-right: 0;
	display: inline-flex;
}

span.location-icon {
	display: inline-block;
	padding-right: 0;
	margin: 0;
	background-image: url('../img/2018/location-icon.png');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 1.5em;
	height: 1.5em;
}

span.location-link {
	display: inline-block;
	padding-right: 0;
	padding-left: 0.5em;
}

.event-cta {
	padding: 0;
}

.event-cta span {
	padding: 0.5em 1em;
	background-color: rgba(255,255,255,0.8);
    color: rgb(29, 61, 77);
    -webkit-transition: background-color .2s;
	-moz-transition: background-color .2s;
	-ms-transition: background-color .2s;
	-o-transition: background-color .2s;
	transition: background-color .2s;
}

.event-cta span:hover {
	background-color: rgba(255,255,255,1);
}

@media screen and (max-device-width: 1600px) {
	
	.page {
		padding: 10vh 2em;
		
	}
}

@media screen and (max-device-width: 1300px) {
	.sidebar {
		left: calc(50% - 33em);
	}

	.content {
		margin-left: 18em;
		margin-right: 1em;
	}
}

@media screen and (max-device-width: 1200px) {

	.page {
		padding: 10vh 0;
	}
	.sidebar {
		position: relative;
	    left: initial;
	    width: 80%;
	    margin: 0 auto;
	    text-align: center;
	    top: initial;
	}

	.day-selector-container {
		margin: 1em 0;
	}

	.day-selector-container:before {
		display: none;
	}

	.day-link {
		margin: 0.5em 0;
		padding-left: 0;
	}

	.day-link:before {
		display: none;
	}

	.content {
		margin: 0 auto;
		margin-top: 1em;
		width: 90%;
	}

	.events {
		margin-bottom: 1.25em;
	}

	.event-day-container {
		padding-top: 3em;
	}

	.separator {
		padding: 0;
		margin-top: 0em;
	}

	.separator-date {
		text-align: left;
		width: auto;
	}

	.event {
		margin-bottom: 1.25em;
	}

	.event:last-child {
		margin-bottom: 0;
	}

	.event-timeline {
		position: static;
		height: auto;
		width: auto;
	}

	.event-timeline:before,
	.event-timeline:after {
		display: none;
	}

	.event-time {
		position: static;
		text-align: left;
		transform: none;
	}

	.event-time span {
		display: inline;
		width: auto;
	}

	.event-time span:nth-child(2) {
		margin: 0 0.5em;
	}

	.event-link {
		margin-left: 0;
		padding: 1em;
		width: 100%;
	}

	.no-info-overlay h3 {
		font-size: 1.5em;
	}

	.event-link span.event-thumbnail-container {
		display: none;
	}

	.event-link span.event-text {
		display: block;
		width: auto;
		padding-right: 0;
	}

	.event-link span.event-hosted-by {
		display: block;
	    margin-top: 1em;
	    margin-right: 100px;
	    margin-left: 0;
	    padding-right: 0;
	    position: relative;
	}

	.event-link span.event-hosted-by p {
		display: none;
	}

	.event-link span.event-location {
		display: block;
	    min-width: 150px;
	    padding-right: 0;
	}

	.event-link span.event-cta {
		position: absolute;
	    bottom: 0.5em;
	    right: 0.5em;
	    vertical-align: initial;
	    padding-right: 0;
	}

}
