.background {
	background: linear-gradient(315deg, #1D8BCD, #f4f4f5);
	height: 100vh;
	background-size: 400% 400%;

	-webkit-animation: AnimationName 14s ease infinite;
	-moz-animation: AnimationName 14s ease infinite;
	animation: AnimationName 14s ease infinite;

	@-webkit-keyframes AnimationName {
	    0%{background-position:4% 0%}
	    50%{background-position:97% 100%}
	    100%{background-position:4% 0%}
	}
	@-moz-keyframes AnimationName {
	    0%{background-position:4% 0%}
	    50%{background-position:97% 100%}
	    100%{background-position:4% 0%}
	}
	@keyframes AnimationName { 
	    0%{background-position:4% 0%}
	    50%{background-position:97% 100%}
	    100%{background-position:4% 0%}
	}

}
.page {
	padding-top: 10vh;
	min-height: calc(100vh - 500px);
	max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    color: #585858;
}

.sidebar {
	position: fixed;
	top: 155px;
	left: 0;
	left: calc(50% - 720px);
	width: 250px;
}

.content {
	    margin-left: 270px;
}

h3 {
	display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.sidebar h1 {
	font-size: 2rem;
}

.separator {
	padding: 1.5em 0;
}

.separator-date {
	text-align: center;
    display: inline-block;
    width: 130px;
    font-size: 2em;
}

.separator-day {
	display: inline-block;
    font-weight: 600;
    font-size: 1.5em;
    margin-left: 20px;
}

.day-selector-container {
	position: relative;
	margin: 2em 0;
}

.day-selector-container:before {
	content: " ";
    display: block;
    position: absolute;
    width: 1px;
    background-color: #fff;
    height: 98%;
    top: 1%;
    left: 10px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.day-selector:first-child .day-link {
	margin-top: 0;
}

.day-selector:last-child .day-link {
	margin-bottom: 0;
}

.day-link {
	display: inline-block;
    margin: 1em 0;
    position: relative;
    padding-left: 40px;
    cursor: pointer;
}

.day-link:before {
	content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-sizing: border-box;
    will-change: transform;
    border: 1px solid #fff;
    background-color: #657e8c;
    -webkit-transition: background-color .2s;
	-moz-transition: background-color .2s;
	-ms-transition: background-color .2s;
	-o-transition: background-color .2s;
	transition: background-color .2s;
}

.day-link:hover:before {
	background-color: #fbfdff;
}

.day-link.active:before {
	background-color: #fbfdff;
}

.event {
	position: relative;
    margin: .75em 0;
    max-width: 1200px;
    text-align: left;
}

.event-timeline {
	position: absolute;
    width: 130px;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
}

.event-timeline:before,
.event-timeline:after {
	content: "";
    display: block;
    position: absolute;
    left: 50%;
    height: 40%;
    width: 1px;
    background-color: #585858;
    z-index: 1;
}

.event-timeline:before {
	bottom: 80%;
    bottom: calc(50% + 40px);
}

.event-timeline:after {
	top: 80%;
    top: calc(50% + 40px);
}

.event-time {
	position: absolute;
    width: 100%;
    top: 50%;
    margin: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.event-time span {
	width: 100%;
	display: block;
	line-height: 1;
}

.event-start-time {
	font-size: 1.1em;
    font-weight: bold;
}

.event-end-time {
	font-size: 0.8em;
    font-weight: lighter;
}

.event-link {
	margin-left: 150px;
    padding: 1em 1.5em;
    padding-left: calc(1em + 8px);
    display: table;
    position: relative;
    width: calc(100% - 150px);
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.2);
    -webkit-transition: background-color .2s;
	-moz-transition: background-color .2s;
	-ms-transition: background-color .2s;
	-o-transition: background-color .2s;
	transition: background-color .2s;
	color: white;
}

.event-link:hover {
	background-color: rgba(0,0,0,0.3);
}

.event-link span {
	display: table-cell;
	vertical-align: middle;
	padding-right: 2em;
}

.event-link span.category-color {
	display: block;
	position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 100%;
    padding-right: 0;
    vertical-align: none;
}

.event-link span.category-color.tech {
	background-color: green;
}

.event-thumbnail-container {
	padding-right: 0;
}

.event-thumbnail {
	width: 5em;
    height: 5em;
    background-size: 100%;
    border-radius: 100%;
	background-image: url('https://placehold.it/250x250');
}

.event-text h4 {
	margin-top: 0;
	margin-bottom: 0.5em;
	font-size: 1.2em;
	font-weight: bold;
}

.event-text p {
	margin: 0;
	font-size: 0.9em;
}

.event-location {
	padding: 0;
}

span.location-icon {
	padding-right: 0;
	margin: 0;
	background-image: url('https://placehold.it/250x250');
	background-size: 100%;
	width: 1.5em;
	height: 1.5em;
}

.location-link {
	padding-right: 0;
	padding-left: 1em;
}

.event-cta {
	padding: 0;
}

.event-cta span {
	padding: 0.5em 1em;
	background-color: #fbfdff;
    color: #585858;
    -webkit-transition: background-color .2s;
	-moz-transition: background-color .2s;
	-ms-transition: background-color .2s;
	-o-transition: background-color .2s;
	transition: background-color .2s;
}

.event-cta span:hover {
	background-color: #bfdfff;
}