ul  {
	list-style: none;
	padding-left: 0;
	text-align: left;
}

li {
  font-family: 'Proxima-regular', sans-serif;
  line-height: 1.5;

}

.menu {
	opacity: 1;
	color: white;
}

.background {
	z-index: -1;
	position: fixed;
	width: 100vw;
	height: 100vh;
}

.background img {
  width: 100%;
}

.press-list-container {
  text-align: center;
  padding: 6em 0;
  color: white;
}

.press-list-container ul {
  list-style: none;
  padding: 0;
  width: 50%;
  margin: 0 auto;
}

.press-list-container h3 {
	font-weight: initial;
}

.material {
	font-weight: initial;
	color: white;
	border-bottom: 2px solid white;
}

.material:hover {
	font-weight: bold;
}

.press-item-list {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;

}

.press-item {
	max-width: 23%;
	padding: 2em 3em;
	box-shadow: 0 1px 3px rgba(255,255,255,0.12), 0 1px 2px rgba(255,255,255,0.24);
	-webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	-moz-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	-ms-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	-o-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	margin: 0.5em;
	background: white;
	color: rgb(29, 61, 77);
}

.press-item:hover {
	box-shadow: 0 14px 28px rgba(255,255,255,0.25), 0 10px 10px rgba(255,255,255,0.22);
	-webkit-transform: scale(1.005);
	-ms-transform: scale(1.005);
	transform: scale(1.005);
	
}

.press-item-date {
	text-align: center;
	margin: 0.2em 0;
}

.press-item-img {
	width: 100%;
}

.press-item-title {
	margin: 0.2em 0;
	font-size: 1.5rem;
}

.press-item-intro {
	margin: 0.5em;
}


.press-release-container {
	padding: 7em 0em;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: rgb(29, 61, 77);
}

.press-release-img {
	width: 100%;
	margin-top: 1em;
}

.press-release-img-text {
  margin: 0;
  font-size: 12px;
  font-style: italic;
  line-height: 18px;
}

.press-release-title {
	margin-bottom: 0;
	text-align: left;
}

.press-release-intro {
  font-weight: bold;
  margin-top: 0;
  text-align: left;
}

.press-release-info {
	text-align: left;
}

.press-release-info a {
	border-bottom: 1px solid rgba(29, 61, 77, 0.3);
	color: rgb(29, 61, 77);
}

.press-release-info a:hover {
	border-bottom: 1px solid rgba(29, 61, 77, 1);
}

.contact-container .contact-title {
	margin-bottom: 0;
	margin-top: 2em;
}

.contact-info {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 60%;
}

.contact-info p {
	margin-right: 1em;
}

@media screen and (max-device-width: 1200px) {

	.background img {
		height: 100vh;
		width: initial;
	}

	.press-release-container {
		width: 80%;
	}

	.press-item {
		max-width: 70%;
		padding: 1em 2em;
	}

}